<!DOCTYPE html>
<html lang="en">
<head>
	<title>TR_BeltExam... Winning</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'BeltExam_App/index.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
<div id="Register" style="border: 5px solid green">
	<form action="/processREG" method="POST">
		{% csrf_token %}
		<label for="first_name">First Name:</label><br>
		<input type="text" name="first_name" placeholder="Your First Name" value=""><br>
		<hr>
		<label for="last_name">Last Name:</label><br>
		<input type="text" name="last_name" placeholder="Your Last Name" value=""><br>
		<hr>
		<label for="email">Email:</label><br>
		<input type="text" name="email" placeholder="Your Email Address" value=""><br>
		<hr>
		<label for="password">Password:</label><br>
		<input type="text" name="password" placeholder="**Password**" value=""><br>
		<hr>
		<label for="Cpassword">Confirm Password:</label><br>
		<input type="text" name="Cpassword" placeholder="**Confirm*Password**" value="">
		<hr>
		<input id="RegButton" type="Submit" value="Register">
	</form>
</div>

{% if messages %}
	{% for message in messages%}
		<h3>{{message}}</h3>
	{% endfor %}
{% endif %}

<div id="Login" style="border: 5px solid blue">
	<form action="/processLOG" method='POST'>
		{% csrf_token %}
		<label for="email">Email:</label><br>
		<input type="text" name="email" placeholder="Your Email Address" value=""><br>
		<hr>
		<label for="password">Password:</label><br>
		<input type="password" name="password" placeholder="**Password**" value=""><br>
		<hr>
		<input id="LogButton" type="Submit" value="Log In">
	</form>
</div>
</body>
</html>