<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{request.session.name}}'s Wish List</title>
</head>
<body>
	<h1 style="display:inline-block;">Hello {{request.session.name}}.  </h1>
	<a href="logout"><button style="float:right;margin:25px;margin-right:150px;">Log Out</button></a>
	<div id='WishList'>
		<h2>Your WishList:</h2>
		<ul>
			<li>Bike</li>
		{% for list in User %}
			<li>{{list.iteams}}</li>
		{% endfor %}	
		</ul>
	</div>
	<hr style="padding:5px;border:none;background-color:blue;">

	<div id="iteams">
		<h2>Iteams:</h2>
		<table style="width: 80%;margin:auto;text-align:center;">
			<tr>
				<th>Iteam</th>
				<th>Added By</th>
				<th>Added at</th>
				<th>Action</th>
			</tr>
			{% for iteam in iteams %}
				<tr>
					<td>{{iteam.iteam}}</td>
					<td>{{iteam.name_User}}</td>
					<td>{{iteam.created_at}}</td>
					<td><a href="#"><button>ADD to WishList</button></a><td>
				</tr>
			{% endfor %}
		</table>
	</div>	
	<hr style="padding:5px;border:none;background-color:green;">
{% if messages %}
	{% for message in messages%}
		<h2>{{message}}</h2>
	{% endfor %}
{% endif %}
	<form action='/ADDiteam' method='POST' style="text-indent:100px;">
		{% csrf_token %}
		<label for="iteam">Add an Iteam</label>
		<input type="text" name="iteam" value="" placeholder="Add an iteam here.">
		<input type="submit" name="" value="Add Iteam">
	</form>
</body>
</html>